body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Rufina", serif;
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.text-pink {
  color: #ff817e;
}

.border-circled {
  border-radius: 1000px;
}

.py-10px {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

#banner {
  padding: 12%;
  background: url("../images/leaf.png") no-repeat left center/12.5%;
}

#about {
  position: relative;
}

.banner-title {
  font-size: 60px;
  line-height: 75px;
}

.spa-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
}
.spa-img img {
  max-width: 100%;
  height: auto;
}

.button-pink, .button-transperent, .button-darked {
  border: 0px;
  padding: 15px 30px;
  transition-duration: 300ms;
}

.button-pink {
  background: #ff817e;
  color: #fff;
  font-weight: 600;
}

.button-pink:hover {
  color: #000;
}

.button-transperent {
  font-size: 0.7rem;
  background: rgba(0, 0, 0, 0);
  color: #000;
  font-weight: 400;
}

.button-transperent:hover {
  color: #ff817e;
}

.button-darked {
  background: #30383b;
  color: #fff;
  font-weight: 600;
}

.button-darked:hover {
  background: #ff817e;
}

.fa-play {
  color: #ff817e;
  background: #fcf5ee;
  padding: 15px;
  border-radius: 100px;
  margin-right: 10px;
}

#china-rose {
  max-width: 150px;
  position: absolute;
  left: 12%;
  top: 0;
}

#jasmine {
  max-width: 100px;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

#gallery {
  display: flex;
  flex-basis: 25%;
  margin-left: -2px;
  margin-right: -2px;
}

.gallery-item {
  max-width: 25%;
  position: relative;
  margin-left: 2px;
  margin-right: 2px;
}
.gallery-item .gallery-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 129, 126, 0.9);
  color: white;
  display: grid;
  align-content: center;
  justify-items: center;
  opacity: 0;
  transition-duration: 0.3s;
}

.gallery-item:hover .gallery-item-overlay {
  opacity: 1;
}

.card-item {
  border: 1px solid #e3e6ea;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  height: 100%;
}
.card-item img {
  max-width: 100%;
  height: auto;
}
.card-item .card-item-title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.card-item .card-item-body {
  color: #6c757d;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

#carousel {
  background: #fff9f8;
}

.carousel-name {
  font-size: 1.4rem;
}

.carousel-position {
  font-size: 0.9rem;
  color: #6c757d;
}

.carousel-text {
  font-size: 1.3rem;
  font-weight: 300 !important;
  line-height: 2rem;
}

.carousel-indicators li {
  background: #ff817e;
  width: 10px;
  height: 10px !important;
  border-radius: 10px;
  border: 0px solid #ff817e;
}

.team-member {
  position: relative;
  margin-bottom: 50px !important;
}

.team-img {
  z-index: 1;
  max-width: 100%;
}

.team-overlay {
  position: absolute;
  bottom: -45px;
  left: 0;
  right: 0;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-bottom: 20px;
  transition-duration: 0.5s;
}
.team-overlay .team-position {
  font-size: 0.9rem;
}
.team-overlay .team-overlay-social {
  transition-duration: 0.3s;
  opacity: 0;
  margin-top: -35px;
}
.team-overlay .team-overlay-social .fa-facebook-f, .team-overlay .team-overlay-social .fa-twitter, .team-overlay .team-overlay-social .fa-instagram {
  border: 1px solid #6c757d;
  border-radius: 50%;
  transition-duration: 300ms;
  margin-right: 3px;
  margin-left: 3px;
}
.team-overlay .team-overlay-social .fa-facebook-f {
  padding: 8px 10px;
}
.team-overlay .team-overlay-social .fa-twitter {
  padding: 8px 8px;
}
.team-overlay .team-overlay-social .fa-instagram {
  padding: 8px 9px;
}
.team-overlay .team-overlay-social .fa-facebook-f:hover, .team-overlay .team-overlay-social .fa-twitter:hover, .team-overlay .team-overlay-social .fa-instagram:hover {
  border: 1px solid #ff817e;
  color: #fff;
  background: #ff817e;
}

.team-member:hover .team-overlay-social {
  opacity: 1;
  margin-top: 0px;
}

#contact {
  background: #fff9f8;
}

.contact-wrap {
  display: flex;
  align-items: center;
}
.contact-wrap .figure-wrap {
  flex-basis: 40%;
}
.contact-wrap .figure-wrap img {
  width: 100%;
  height: auto;
}
.contact-wrap .form-wrap {
  flex-basis: 60%;
  padding-left: 110px;
  padding-right: 110px;
}
.contact-wrap .form-wrap .contact-form-item {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d4d3d3;
  color: #999;
  padding: 10px 0;
  font-size: 0.7rem;
  background: transparent;
  margin-bottom: 30px;
}
.contact-wrap .form-wrap .contact-notes-label {
  color: #999;
  font-size: 0.7rem;
}

.fa-map-marker-alt, .fa-envelope, .fa-mobile {
  border-radius: 50%;
  color: #fff;
  background: #ff817e;
}

.fa-map-marker-alt {
  padding: 16px 18px;
}

.fa-envelope {
  padding: 16px 16px;
}

.fa-mobile {
  padding: 16px 19px;
}

.align-vertically {
  display: grid !important;
  align-content: center;
  justify-items: start;
}

.touch-input {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 25px;
  border: 1px solid #d4d3d3;
}

footer {
  background: #fff9f8;
}
footer .footer-logo {
  height: 40px;
}

.footer-social {
  text-align: center;
}
.footer-social .fa-facebook-f, .footer-social .fa-twitter, .footer-social .fa-instagram {
  padding-left: 10px;
  padding-right: 10px;
}
.footer-social .border-right-icon {
  border-right: 1px solid #6c757d;
}
.footer-social .fa-facebook-f:hover, .footer-social .fa-twitter:hover, .footer-social .fa-instagram:hover {
  color: #ff817e;
  transition-duration: 0.2s;
}

.footer-text {
  font-size: 0.9rem;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

nav .nav-logo {
  float: left;
  text-align: center;
}
nav .nav-logo img {
  height: 40px;
}
nav .nav-items {
  float: right;
}
nav .nav-items-list {
  list-style-type: none;
}
nav .nav-item {
  display: inline;
  margin-right: 30px;
}
nav .nav-item a {
  text-decoration: none;
  color: #30383b;
  font-size: 0.95rem;
  font-weight: 500;
}
nav .nav-item:hover a {
  color: #ff817e;
  transition-duration: 0.2s;
}